# Core functionality - changes here should be rare!
/src/app.py                   @claraagui
/src/backend/database.py      @claraagui
/src/backend/routers/auth.py  @claraagui

# The frontend will need refactored soon to be more object oriented.
/src/static/   @claraagui
